html {  
  font-family: 'Arsenal', sans-serif;
}
body {}
#background {
    background: url("../background.jpg") no-repeat;
    position: absolute;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;    
    top:0px;
    left:0px;
    z-index: -9999;    
}
#container {
    text-align: center;
}
.item-left {    
    text-align: center;
	padding-bottom: 15px;
    float: left;
    width: 50%;
}
.item-right {
    text-align: center;
	padding-bottom: 15px;
    float: right;
    width: 50%;
}
.title {
    color: gold;
}
.blur {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);    
}
a {
  color: gold;
  text-decoration: none;
}