body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    font-family: arial;
    font-size: 18px;
}

header {  
    background: #bfa452 url("../images/background-header2.png");
    background-size: cover;
    text-align: center;   
}

.logo {
    display: inline-block;
}

header a img {
    position: fixed;
}

header h1 {
    color: #fbc100;
    background: black;
    display: inline-block;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 1px solid #fbc100;
}

nav ul {
    list-style: none;
    background: black;
    display: block;
}

nav ul li {
    display: inline-block;
    margin: 10px 25px;
}

nav ul li a {
    color: #fbc100;
    text-decoration: none;
    
}

nav ul li a:link {
    color: white;
}

nav ul li a:hover {
    color: gold;   
}

nav ul li a:active {
    color: #fbc100;
}

#leftSidebar {
    display: inline-block;
    margin: 20px;    
    width: 14.5%;
    background: #DDDDDD;
    border: 1px solid #eeeeee;
    border-radius: 5px;    
}

.eventsHeader {
    text-align: center;
    font-family: 'Ubuntu Condensed';
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 25px 20px 15px 20px;
}


.events {
    display: inline-flex;
    flex-direction: column;

}

.eventBlock {
    background: #FBC100;
    border: 2px solid black;
    margin: 10px 11px 15px 20px;
    text-align: center;
}

.eventBlock h3 {
    font-family: 'Ubuntu Condensed';
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 30px;     
}


.eventBlock .list {
    text-align: center;    
    list-style-type: none;
    padding: 5px 0;
    margin: 10px;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;              
}

.eventBlock p {
    text-align: left;
    margin: 10px;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}




/* NEXT SECTION */




#middleSidebar {
    display: inline-block;
    margin: 20px;     
    width: 680px;
    background: #E8E8E8;
    border: 1px solid #eeeeee; 
    border-radius: 5px;        
}

.feedHeader {
    text-align: center;
    font-family: 'Ubuntu Condensed';
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 25px 20px 15px 20px;
}

.feed {
    display: inline-flex;
    flex-direction: column;      
}


.feedBlock {
    margin: 18px;
    width: 650px;
}

.feedBlock h3 {
    font-family: times;
    margin: 15px;
}

.feedBlock img {
    border: 2px solid black;
    width: 640px;
}

.feedBlock p {
    background-color: #bababa;
    margin: 5px;
    padding: 7px;
    text-align: justify;
    border-radius: 3px;
}


/* NEXT SECTION */



#rightSidebar {
    display: inline-block;
    margin: 20px;    
    width: 14.5%;
    background: #DDDDDD;
    border: 1px solid #eeeeee;
    border-radius: 5px;     
}

.socialHeader {
    text-align: center;
    font-family: 'Ubuntu Condensed';
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 25px 20px 15px 20px;
}

.social {
    display: inline-flex;
    flex-direction: column; 
}

.socialBlock {
    background: #FBC100;
    border: 2px solid black;
    margin: 10px 11px 15px 20px;

}

.socialBlock h3 {
    font-family: 'Ubuntu Condensed';
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 30px;    
}

.socialBlock p {
    margin: 10px;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;    
}

.link {
    text-decoration: none;
    color: #2679ff;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;    
}

.link:hover {
    text-decoration: none;
    color: #0000D7;
}   


hr {
    color: white;
    width: 500px;
}


.button {
	background-color: gold;
	border: 1px solid #333;
	box-shadow: 3px 3px 5px #636056;
	-moz-box-shadow: 3px 3px 5px #636056;
	opacity: 1;
	font-variant: small-caps;
	text-transform: lowercase;
	text-align: center;
	white-space: pre;
	text-shadow: 0 0 1px #c0bcbc;
	font-weight: normal;
	font-style: normal;
	font-size: 80%;
	color: black;
}

.button:active {
	
}






