/* INDEX */
html, body {
    font-family: 'Arsenal';
    overflow: hidden;
}
#background {
    background: url("background.jpg") no-repeat;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top:0px;
    left:0px;    
}
#particles-js {}
#container {
    width: 100vw;
    height: 100vh;
    display: table;
    text-align: center;    
}
#content {
    width: 700px;
    height: 600px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
#logo {}
#name {
    color: white;
}
#description {}
#links {}

/* ERROR PAGE */
#errorPage {
    background: #111222;
}
#error {
    color: #d3d3d3;
}
#errorReturnHome {
    color: gold;
    text-decoration: none;
}

/* PROPERTIES */
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);    
}
a {
    text-decoration: none;
    color: gold;
}
.separator {
    display: inline;
    color: gold;
}
/* OPTIMIZATIONS */
@media screen and (max-width: 280px) {
    #logo {
        display: none;
    }
}
@media screen and (max-height: 600px) {
    #logo {
        display: none;
    }
}
@media screen and (max-height: 515px) {
    #content {height: 450px}
}
@media screen and (max-height: 425px) {
    #content {height: 380px}
}
@media screen and (max-height: 320px) {
    #content {height: 300px}
}
@media screen and (max-height: 230px) {
    #content {height: 200px}
}