/* INDEX */
html, body {
    font-family: 'Arsenal';
    text-align: center;
    margin: 0;
    padding: 0;
}
.background {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/background.jpg") repeat-y center center #000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
    background-position: 50% 50%;
    top:0px;
    left:0px;  
    z-index: -9999;
}
.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0px;
}
#name {
    color: white;
}

/* ATTRIBUTES */
.separator {
    display: inline;
    color: gold;
}
.blur-weak {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);     
}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);    
}
.blur-strong {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);    
}
.project {
    width: 100vw;
}
.title {
    font-size: 28px;
    padding: 0px;
}
.title-small {
    font-size: 24px;
    padding: 0px;    
}
.title-big {
    font-size: 32px;
    padding: 0px;    
}
.image {
    display: inline-block;
    width: 70%    ;
}
.gold {
    color: #FFDF00;
}
.white {
    color: white;
}
a {
    text-decoration: none;
    color: #FFDF00;
}
#particles-js {}
#html-about {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75) ), url("/background.jpg") no-repeat #000;
    background-size: cover;
    background-position: center;
}

/* ERROR PAGE */
#errorPage {
    width: 100vw;
    height: 100vh;    
    text-align: center;
    vertical-align: middle;     
    height: 600px;
    position: relative;
    display: table-cell;
    z-index: -9999;     
}
#error {
    color: gold;
}
#errorReturnHome {
    color: #d3d3d3;
    text-decoration: none;
}

/* IOS APPS PAGE */
.iosapp {
    padding: 15px 0px 15px 0px; 
    width: 47%; 
    display: inline-block;    
}

.appcontainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0px;    
}

/* ABOUT PAGE */ 
.about {
    margin-left: 20%; 
    margin-right: 20%;    
}
.read {
    padding: 0px; 
    text-align: justify;
}
/* OPTIMIZATIONS */
@media screen and (max-width: 500px) {
    #html-projects .container .item-right {float: none;width:100vw;}
    #html-projects .container .item-left {float: none;width:100vw;}
    #html-projects .container {text-align: center;}
}

@media screen and (max-width: 800px) {
    #html-iosapps .iosapp {width: 100%; display: block; text-align: center;}
    #html-iosapps .appcontainer {text-align: center;}
}