/* INDEX */
html, body {
    font-family: 'Arsenal';
    overflow: hidden;
}
#background {
    background: url("/background.jpg") no-repeat;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top:0px;
    left:0px;  
    z-index: -9999;
}
#particles-js {}
#container {
    width: 100vw;
    height: 100vh;
    display: table;
    text-align: center;    
}
#content {
    width: 700px;
    height: 600px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
#logo {}
#name {
    color: white;
}
#description {}
#links {}

/* ERROR PAGE */
#errorPage {
    width: 100vw;
    height: 100vh;    
    background: url("/background.jpg") no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-align: center;
    vertical-align: middle;     
    height: 600px;
    position: relative;
    display: table-cell;
    z-index: -9999;     
}
#error {
    color: gold;
}
#errorReturnHome {
    color: #d3d3d3;
    text-decoration: none;
}

/* ATTRIBUTES */
.separator {
    display: inline;
    color: gold;
}
.blur-weak {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);     
}
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);    
}
.blur-strong {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);    
}
.item-left {    
    text-align: center;
	padding-bottom: 15px;
    float: left;
    width: 50%;
}
.item-right {
    text-align: center;
	padding-bottom: 15px;
    float: right;
    width: 50%;
}
.title {
    font-size: 28px;
}
.title-small {
    font-size: 24px;
}
.title-big {
    font-size: 32px;    
}
.img {
    width: 500px;
}
.img-small {
    width: 250px;
}
.img-big {
    width: 750px;
}
.gold {
    color: #FFDF00;
}
a {
    text-decoration: none;
    color: gold;
}

/* OPTIMIZATIONS */
@media screen and (max-width: 280px) {
    #logo {
        display: none;
    }
}
@media screen and (max-height: 600px) {
    #logo {
        display: none;
    }
}
@media screen and (max-height: 515px) {
    #content {height: 450px}
}
@media screen and (max-height: 425px) {
    #content {height: 380px}
}
@media screen and (max-height: 320px) {
    #content {height: 300px}
}
@media screen and (max-height: 230px) {
    #content {height: 200px}
}